In [16]:
import datetime
import pandas as pd
import numpy as np

In [32]:
gtd = pd.read_csv("data/globalterrorismdb_0718dist.csv")
gtd.head()

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN

In [35]:
gtd2 = gtd[["eventid", "iyear", "imonth", "iday", "latitude", "longitude", "gname"]]

In [36]:
filter1 = gtd2["imonth"]!=0
filter2 = gtd2["iday"]!=0
filter3 = gtd2["gname"]!="unknown"
gtd3 = gtd2[filter1][filter2][filter3]

/home/takando/.local/lib/python2.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.

In [38]:
gtd3["date"] = gtd3["imonth"].astype(str)+"/"+gtd3["iday"].astype(str)+"/"+gtd3["iyear"].astype(str)

In [52]:
date = lambda x: datetime.datetime.strptime(x, '%m/%d/%Y')
gtd3["date"] = gtd3["date"].map(date)

In [55]:
lat_lon = gtd3.drop_duplicates(subset=["latitude", "longitude"])[["latitude", "longitude"]]

In [82]:
lat_lon["loc_id"] = list(range(len(lat_lon.index)))

In [83]:
lat_lon.head()

    latitude   longitude  loc_id
0  18.456792  -69.951164       0
5  37.005105  -89.176269       1
6 -34.891151  -56.187214       2
7  37.791927 -122.225906       3
8  43.076592  -89.412488       4

In [78]:
gr= gtd3.drop_duplicates(subset=["gname"])[["gname"]]

In [80]:
gr["gr_id"]=list(range(len(gr.index)))

In [61]:
gtd4 = pd.merge(gtd3, lat_lon, on = ["latitude", "longitude"], how="inner")

In [84]:
gtd5 = pd.merge(gtd4, gr, on = "gname", how = "inner")

In [86]:
gtd5= gtd5[["eventid","date","latitude","longitude","loc_id", "gname","gr_id"]]

In [87]:
gtd5

,eventid,date,latitude,longitude,loc_id,gname,gr_id
0,197000000001,1970-07-02,18.456792,-69.951164,0,MANO-D,0
1,197003240002,1970-03-24,18.456792,-69.951164,0,Dominican Popular Movement (MPD),27
2,197409270002,1974-09-27,18.456792,-69.951164,0,Dominican Popular Movement (MPD),27
3,197101280001,1971-01-28,18.456792,-69.951164,0,Tony El Pelou Band,79
4,197101280002,1971-01-28,18.456792,-69.951164,0,Tony El Pelou Band,79
5,197105110001,1971-05-11,18.456792,-69.951164,0,Unknown,3
6,197305090001,1973-05-09,18.456792,-69.951164,0,Unknown,3
7,197309280002,1973-09-28,18.456792,-69.951164,0,Unknown,3
8,197902070002,1979-02-07,18.456792,-69.951164,0,Unknown,3
9,198204220001,1982-04-22,18.456792,-69.951164,0,Unknown,3
10,198206180002,1982-06-18,18.456792,-69.951164,0,Unknown,3
11,198904280007,1989-04-28,18.456792,-69.951164,0,Unknown,3
12,199009230007,1990-09-23,18.456792,-69.951164,0,Unknown,3
13,199009230008,1990-09-23,18.456792,-69.951164,0,Unknown,3
14,199109030003,1991-09-03,18.456792,-69.951164,0,Unknown,3
15,199109030004,1991-09-03,18.456792,-69.951164,0,Unknown,3
16,199203030001,1992-03-03,18.456792,-69.951164,0,Unknown,3
17,199210060010,1992-10-06,18.456792,-69.951164,0,Unknown,3
18,199210120003,1992-10-12,18.456792,-69.951164,0,Unknown,3
19,199210120015,1992-10-12,18.456792,-69.951164,0,Unknown,3
20,199402040009,1994-02-04,18.456792,-69.951164,0,Unknown,3
21,199611100006,1996-11-10,18.456792,-69.951164,0,Unknown,3
22,199703170017,1997-03-17,18.456792,-69.951164,0,Unknown,3
23,199703170018,1997-03-17,18.456792,-69.951164,0,Unknown,3
24,199707080018,1997-07-08,18.456792,-69.951164,0,Unknown,3
25,198501110001,1985-01-11,-34.891151,-56.187214,6,Unknown,3
26,198604170011,1986-04-17,-34.891151,-56.187214,6,Unknown,3
27,198910070002,1989-10-07,-34.891151,-56.187214,6,Unknown,3
28,199010240013,1990-10-24,-34.891151,-56.187214,6,Unknown,3
29,199101110002,1991-01-11,-34.891151,-56.187214,6,Unknown,3
...,...,...,...,...,...,...,...
180770,201710060009,2017-10-06,48.829590,23.175793,179471,Torpedy Group,3494
180771,201709210020,2017-09-21,5.954241,10.147160,179029,Liberation Front for English-speaking Cameroon,3495
180772,201709210023,2017-09-21,45.166568,5.726573,179031,The Nocturnals,3496
180773,201710050006,2017-10-05,-11.353599,40.352240,179446,Ansar al-Sunna (Mozambique),3499
180774,201710050007,2017-10-05,-11.353599,40.352240,179446,Ansar al-Sunna (Mozambique),3499
180775,201710050008,2017-10-05,-11.353599,40.352240,179446,Ansar al-Sunna (Mozambique),3499
180776,201710050009,2017-10-05,-11.353599,40.352240,179446,Ansar al-Sunna (Mozambique),3499
180777,201710050010,2017-10-05,-11.353599,40.352240,179446,Ansar al-Sunna (Mozambique),3499
180778,201710050011,2017-10-05,-11.353599,40.352240,179446,Ansar al-Sunna (Mozambique),3499
180779,201710080026,2017-10-08,-3.817025,27.271617,179520,Mai Mai Malaika Militia,3500
180780,201710080027,2017-10-08,-3.902630,27.278687,179521,Mai Mai Malaika Militia,3500
180781,201710210035,2017-10-21,29.497747,29.958638,179886,Ansar al-Islam (Egypt),3503
180782,201710260021,2017-10-26,45.214047,5.794780,180004,Feminist extremists,3504
180783,201710290025,2017-10-29,5.695571,9.183193,180076,Movement for the Restoration of the Independen...,3505
180784,201710290026,2017-10-29,4.169309,9.233350,180077,Movement for the Restoration of the Independen...,3505
180785,201711010009,2017-11-01,54.563703,-6.027471,180143,Arm na Poblachta' (Army of the Republic),3506
180786,201711100019,2017-11-10,27.673824,68.893394,180367,Hafeez Brohi Group,3508
180787,201711200022,2017-11-20,9.443239,12.013277,180634,Bachama extremists,3509
180788,201711200023,2017-11-20,9.453815,11.866362,180635,Bachama extremists,3509
180789,201711200038,2017-11-20,9.447860,12.037818,180637,Bachama extremists,3509
180790,201711200039,2017-11-20,9.447860,12.037818,180637,Bachama extremists,3509
180791,201711300025,2017-11-30,31.262022,35.214586,180923,Bedouin Israeli extremists,3510
180792,201712040004,2017-12-04,33.906370,75.039940,181029,Ansar Ghazwat-ul-Hind,3511
180793,201712150003,2017-12-15,18.454174,1.409692,181318,High Council for the Unity of Azawad (HCUA),3513
180794,201712150004,2017-12-15,18.454174,1.409692,181318,High Council for the Unity of Azawad (HCUA),3513
180795,201712150005,2017-12-15,18.454174,1.409692,181318,High Council for the Unity of Azawad (HCUA),3513
180796,201712150006,2017-12-15,18.454174,1.409692,181318,High Council for the Unity of Azawad (HCUA),3513
180797,201712170003,2017-12-17,6.225630,101.206245,181353,Fatoni Warriors,3514
180798,201712210013,2017-12-21,28.919873,69.170866,181452,Baloch Republican Party,3516
180799,201712210014,2017-12-21,29.007902,69.016402,181453,Baloch Republican Party,3516

In [88]:
gtd5.to_csv("data/rev_gtd2.csv", encoding='utf-8')